<div class="modal fade" id='<%= "editDraftPick_#{pick.id}" %>' tabindex="-1" role="dialog" aria-labelledby="editDraftPickLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="editDraftPickLabel"><%= "Edit #{pick.name}" %></h4>
      </div>
      <div class="modal-body">
        <%= render 'draft_picks/form', draft_pick: pick %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
