<div class="container">
  <div class="page-header">
    <% if @current_user == @user %>
      <div class="pull-right">
        <%= link_to "Make Draft Pick", new_user_draft_pick_path(@current_user), class: "btn btn-danger btn-lg" %>
      </div>
    <% end %>
    <h1><%= "#{@user.first_name} - #{@user.team_name} (#{@user.team_abbr})" %></h1>
  </div>
  <% @categories.each do |category| %>
    <%= render partial: 'category_picks', locals: {user: @user, category: category} %>
  <% end %>
</div>
